[submodule "Scraping/Scrapy/Intelligence_Agency_Website"]
	path = Scraping/Scrapy/Intelligence_Agency_Website
	url = git@github.com:RobiDeantonio/Intelligence_Agency_Website.git
[submodule "Sciky-Learn"]
	path = Sciky-Learn
	url = git@github.com:RobiDeantonio/Sciky-Learn.git

